<h1>Nuevo local</h1>

<form method="POST" action="/locals">

  <label>Nombre</label>
  <input type="text" name="name" />

  <label>Dirección</label>
  <input type="text" name="address" />

  <button type="submit">Guardar</button>

</form>