<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Admin alquileres</title>
  </head>
  <body>
    <nav>
      <a href="/">Dashboard</a>
      <a href="/locals">Locales</a>
      <a href="/contracts">Contratos</a>
      <a href="/payments">Pagos</a>
      <a href="/taxes">Impuestos</a>
    </nav>

    {{{body}}}
  </body>
</html>